.content{
  width: 3rem;
  height: 3rem;
  margin: 0 50%;
  margin-top: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  display: none;
  font-size: .3rem;
}
.canvasI{
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  transition:all 3s ease;
}
.canvasII{
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
}
.start{
  position: absolute;
  width: .7rem;
  height: .7rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  z-index: 2000;
}